html{
  background-color: black;
}

.testo{
  color: yellow;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px  white;
  margin-top: 50px;
}

.linea{
  border: none;
  height: 2.5px;
  background-color: yellow;
}

.paragrafo{
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  color: yellow;
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
}

.blocchi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #0F111A;
  border-radius: 8px;
  padding: 15px; 
  color: white;
  width: 85%;       
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5px;    /* Riduce lo spazio tra la scritta colorata e il titolo */
    margin-bottom: 10px; /* Regola lo spazio sotto il titolo */
  /* REGOLA QUI LO SPAZIO: */
  gap: 0px; /* Spazio piccolissimo tra gli elementi */
}

.limitata {
  background-color: yellowgreen;
  color: black;
  border: 2px solid;
  border-radius: 8px;
  padding: 5px;
}

.esauriti {
  background-color: rgb(255, 0, 0);
  color: black;
  border-radius: 8px; /* Aggiunto per coerenza */
  padding: 5px;       /* Aggiunto per coerenza */
}

.disponibili {
  background-color: green;
  color: black;
  border-radius: 8px; /* Aggiunto per coerenza */
  padding: 5px;       /* Aggiunto per coerenza */
}